.table-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.holder-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.1em;
}

.holder-table th, .holder-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.holder-table th {
  background-color: #f2f2f2;
}